# =========================
# macOS
# =========================
.DS_Store

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# =========================
# Xcode
# =========================
*.xcuserstate
DerivedData/

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# Tests / coverage
# =========================
coverage/

# =========================
# Environment / secrets
# =========================
.env
.env.*
!.env.example